<div class="breadcrumb-wrapper">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {{#each breadcrumb}}
        {{#if active}}
          <li class="breadcrumb-item active">
            {{label}}
          </li>
        {{else}}
          <li class="breadcrumb-item">
            <a href={{route}}>{{label}}</a>
          </li>
        {{/if}}
      {{/each}}
    </ol>
  </nav>
</div>