<!-- ========== card components start ========== -->
<section class="card-components">
  <div class="container-fluid">
    <!-- ========== cards-styles start ========== -->
    <div class="cards-styles">
      <!-- ========= card-style-1 start ========= -->
      <div class="row">
        {{#if products}}
          {{#each products}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              {{>productCard}}
              <!-- end card-->
            </div>
          {{/each}}
        {{else}}
          <h1>Not found</h1>
        {{/if}}

      </div>
      <!-- end row -->
      <!-- ========= card-style-1 end ========= -->

    </div>
    <!-- ========== cards-styles end ========== -->
  </div>
</section>