<!-- ========== card components start ========== -->
<section class="card-components">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-3 col-6">
        {{>productCard}}
      </div>
      <div class="offset-3 col-6">
        <a class="main-btn primary-btn btn-hover">
          Buyurtma berish
        </a>
      </div>

    </div>
  </div>
</section>