<!-- ========== card components start ========== -->
<section class="card-components">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          {{>wrapperTitle label="Product Add"}}
        </div>
        <!-- end col -->
        <div class="col-md-6">
          {{>breadcrumb}}
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->
    
    <!-- ========== form-elements-wrapper start ========== -->
    <div class="form-elements-wrapper">
      <div class="row">
        <div class="col-lg-6 offset-3">
          <!-- input style start -->
          <div class="card-style mb-30">
            <h6 class="mb-25">Form</h6>
            <div class="input-style-1">
              <label>Title</label>
              <input type="text" placeholder="Title" />
            </div>
            <div class="input-style-1">
              <label>Image</label>
              <input type="text" placeholder="Image" />
            </div>
            <div class="input-style-1">
              <label>Description</label>
              <textarea placeholder="Description"></textarea>
            </div>
            <div class="input-style-1">
              <label>Amount</label>
              <input type="number" placeholder="Amount" />
            </div>
            <!-- end input -->
          </div>
          <!-- end card -->
          <!-- ======= input style end ======= -->
        </div>
      </div>
    </div>
  </div>
</section>